<li class='card'>
    <form action='/delete' method="post">
        <input type='hidden' name='id' value='{valor}'>
        <input type="submit" name="delete_button" value='Deletar'>
    </form>
    <br>
    <form action='/update/{id_editar}' method="get">
    <input type="submit" name="edit_button" value='Editar'>
    </form>
    <h3>{title}</h3>
    <p>{note}</p>

    <form class='boca' action='/favoritar/{id_editar}' method="post">
        <input type='hidden' value='{valor}'>
        <input type="submit" name="favorite_button" value='{favorito}'>
    </form>
</li>
