<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Get-it</title>
        <link rel="stylesheet" href='/static/getit.css'>
    </head>
    <body>
        <header class="header">
            <div> 
                <img class='img' src ='static/img/logo-getit.png'>
            </div>
            <p>Como o Post-it, mas com outro verbo</p>
        </header>
            <div class="editarcss">
                <h2 class="titulo_editar">EDITAR</h3>
                <form class="caixinha" action="/editar/{{ id_editar }}" method="post">
                    <label for="titulo">Titulo</label>
                    <input id="titulo" type="text" name="titulo">
                    <label for="detalhe">Detalhe</label>
                    <input id="detalhes" type="text" name="detalhes">
                    <input type="submit">
                    <label for="Cancelar"></label>
                    <input id="Cancelar" type="submit" name="Cancelar" value="Cancelar">
                </form>
            </div>
    </body>
<html>
